# Main project
*.sqlite3
.env
venv/
__pycache__/

# Acconts app
accounts/__pycache__/
accounts/migrations/

# Email app
emails/__pycache__/
emails/migrations/

# Mail app
mail/__pycache__/

# Built frontend folder
frontend/