.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100vh;
    background: $color-light-pink;

    &__subsection {
        width: 50%;
        padding: 6em 3em;
        border-radius: 5px;
        background: $color-medium-pink;

        &__subsection {
            margin: 0 6em;
            border-radius: 3em 0;
            background: $color-deep-pink;

            &__form {
                padding: 1em;

                &__heading {
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: .5em;
                    color: $color-white;
                }

                &__input {
                    border: none !important;
                    border-radius: 0 !important;
                    border-bottom: 1px solid $color-white !important;
                    box-shadow: none !important;
                    background: inherit !important;
                    color: $color-white !important;

                    &::placeholder {
                        color: $color-white!important;
                    }
                }

                &__btn {
                    border: none !important;
                    box-shadow: none !important;
                    background: $color-white!important;
                    color: $color-deep-pink !important;

                    &:hover {
                        transform: scale(1.035);
                    }
                }

                &__small {
                    margin-top: .5em;
                    color: $color-white;

                    &__link {
                        color: $color-white;
                        margin-left: .25rem;

                        &:hover {
                            text-decoration: none;
                            font-size: 1.15em;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .auth__subsection {
        width: 60%;
        padding: 6em 2em;
    }

    .auth__subsection__subsection {
        margin: 0 5em;
    }
}

@media (max-width: 768px) {
    .auth__subsection {
        width: 75%;
        padding: 6em 1em;
    }

    .auth__subsection__subsection {
        margin: 0 4em;
    }
}

@media (max-width: 576px) {
    .auth__subsection {
        width: 90%;
        padding: 6em 0;
    }

    .auth__subsection__subsection {
        margin: 0 3em;
    }
}