.main {
    min-height: 100vh;
    padding: 1rem;
    background: $color-light-pink;

    &__owner-address {
        color: $color-white;
    }

    &__nav-btn, &__compose-btn {
        margin-right: .5em;
    }

    &__nav-btn, &__compose-btn, &__logout-btn {
        background: $color-white !important;
        color: $color-deep-pink !important;
        border: none !important;
        box-shadow: none !important;

        &:hover, &.active {
            background: $color-deep-pink !important;
            color: $color-white !important;
        }

        &.active {
            position: relative;
            top: .15rem;
        }
    }

    &__seperator {
        background: $color-white;
    }

    &__empty {
        color: white;
        font-size: 1.5rem;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__name, &__loading, &__mails-finished {
        color: $color-white;
    }

    &__loading, &__mails-finished {
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    &__mail {
        text-decoration: none !important;
        border-bottom: 1px solid $color-white;
        background: $color-deep-pink;
        animation-name: remove;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-play-state: paused;

        &__sender-timestamp {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $color-white;
        }

        &:first-child {
            border-top: 1px solid $color-white;
        }

        &:hover {
            box-shadow: inset 0 0 8px 0px rgba(0, 0, 0, .5);
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__subject-body {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $color-white;

                &__subject, &__body, &__dash {
                    color: $color-white;
                }
    
                &__subject {
                    font-weight: bold;
                }
            }

            &__icons {
                display: flex;
                flex-wrap: nowrap;
                color: $color-white;

                &__icon {
                    padding: 5px;
                    color: $color-white;

                    &.hide {
                        display: none;
                    }

                    &:hover {
                        color: $color-white !important;
                        cursor: pointer;
                        transform: scale(1.25);
                    }
                }
            }
        }
    }

    &__read {
        background: $color-medium-pink;

        &:hover {
            box-shadow: inset 0 0 8px 0px rgba(0, 0, 0, .5);
        }
    }
}

@keyframes remove {
    0% {
        opacity: 1;
        height: 100%;
        padding: .25rem .5rem;
        margin-bottom: 0px;
    }
    75% {
        opacity: 0;
        height: 100%;
        padding: .25rem .5rem;
        margin-bottom: 0px;
    }
    100% {
        opacity: 0;
        height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}